resolver 127.0.0.1;
upstream jenkins {
    server {{ JENKINS_SERVER }};
}

server
{
	listen 80 default_server;
	
	location ^~ /jenkins {
		rewrite /jenkins(.*) /$1  break;
		proxy_pass http://jenkins;
		proxy_redirect off;
		proxy_set_header Host jenkins;
	}

	location / {
		root /var/www;
		index index.html;
		try_files $uri /index.html;
	}
}
