.successful {
    color: green;
}

.unsuccessful {
    color: red;
}

.pipeline {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.stage {
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}

.successfulStage {
    border: 1px solid #008800;
    border-bottom: 5px solid #008000;
    background: #00800022;
}

.unsuccessfulStage {
    border: 1px solid #AA0000;
    border-bottom: 5px solid #AA0000;
    background: #AA000022;
}

.progress {
    -webkit-animation: blinkingProgress 1s infinite;  /* Safari 4+ */
    -moz-animation: blinkingProgress 1s infinite;  /* Fx 5+ */
    -o-animation: blinkingProgress 1s infinite;  /* Opera 12+ */
    animation: blinkingProgress 1s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blinkingProgress {
    0%, 49% {
        border-bottom: 5px solid #008000;
    }
    50%, 100% {
        border-bottom: 1px solid #008000;
    }
}


* {
    font-family: Helvetica;
}